* {
  -webkit-user-select: none !important;
  user-select: none !important;
}

input,
textarea,
select,
[contenteditable] {
  -webkit-user-select: text !important;
  user-select: text !important;
}

.invoice-preview,
.invoice-preview * {
  -webkit-user-select: text !important;
  user-select: text !important;
}
